@page
@model AspNetLek.Pages.MyEvents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Events</h1>

<p>
    <a>Here you can see all your booked events</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvent[0].Event.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvent[0].Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvent[0].Event.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvent[0].Event.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendeeEvent[0].Event.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AttendeeEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Date)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
            </td>
        </tr>}
    </tbody>
</table>
